
<!-- form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form> -->
{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
<title>GeoSpoc | Home</title>
<meta name="description" content="Home" />

 
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <!-- <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" /> -->
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

     <!-- <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap-float-label.min.css' %}" type="text/css" /> -->

    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />
    
    <!-- sweetalert css -->
    <!-- <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}"> -->
    <!-- END Stylesheets -->
   
    <!--bootstrap multiselect css   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css" /> -->
    <!--end multiselect css  -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <!-- <script src="{% static 'js/angular.min.js' %}"></script>

    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script> 
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>-->
    <style>
        body {
          font-size: 21px;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
          position: -webkit-sticky; /* Safari */
          position: sticky;
          top: 0;
        }

        li {
          float: left;
        }
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        li a:hover {
          background-color: #111;
        }
        .active {
          background-color: #4CAF50;
        }
    </style>
    <style>
        * {
          box-sizing: border-box;
        }

        input[type=text],input[type=password], select, textarea {
          width: 100%;
          padding: 1px;
          border: 1px solid #ccc;
          border-radius: 2px;
          resize: vertical;
        }

        label {
          padding: 2px 2px 2px 0;
          display: inline-block;
        }

        input[type=submit] {
          background-color: #04AA6D;
          color: white;
          padding: 2px 5px;
          border: none;
          border-radius: 2px;
          cursor: pointer;
          float: right;
        }

        input[type=submit]:hover {
          background-color: #45a049;
        }

        .container {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 30px;
        }

        .col-25 {
          float: left;
          width: 25%;
          margin-top: 2px;
        }

        .col-75 {
          float: left;
          width: 75%;
          margin-top: 2px;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
          }
        }
        #captchaBackground {
         height: 120px;
         width: 50%;
         /*background-color: #2d3748;*/
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
        }
        #captchaHeading {
         color: white;
        }
        #captcha {
         /*height: 80%;*/
         /*width: 80%;*/
         font-size: 40px;
         letter-spacing: 3px;
         margin: auto;
         display: block;
        }
        .center {
         display: flex;
         flex-direction: column;
         align-items: center;
        }
        #refreshButton1 {
            background-color: #04AA6D;
         margin-top: 5px;
         margin-bottom: 5px;
         background-color: #08e5ff;
         border: 0px;
         font-weight: bold;
        }
        #refreshButton1 {
         background-color: #08e5ff;
         border: 0px;
         font-weight: bold;
        }
        #textBox {
         height: 25px;
        }
        .incorrectCaptcha {
         color: #FF0000;
        }
        .correctCaptcha {
         color: #7FFF00;
        }
    </style>

</head>

<body id="container">
    <!-- <form name="myForm" method="post" > -->
    <div class="app">
        
        <div class="header">
            <h2>GeoSpoc</h2>
        </div>
        <ul>
            <li><a class="active" href="#home" onclick=myFunction('home')>Home</a></li>
            <li><a href="#recruiter" onclick=myFunction('recruiter')>Recruiter</a></li>
            <!-- <li><a href="#contact" onclick=myFunction('contact')>Contact</a></li> -->
        </ul>
        <div id="home" class="container">
            <h1>Register</h1>
            <p>Please fill in this form to register yourself.</p>
            <div class="row">
              <div class="col-25"></div>
              <div class="col-75">
                <span id="error"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="name"> Name</label>
              </div>
              <div class="col-75">
                <input type="text" id="name" name="name" placeholder="Your name..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="mail">Email Id</label>
              </div>
              <div class="col-75">
                <input type="text" id="mail" name="mail" placeholder="Your Email Id..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="webaddr">Web Address</label>
              </div>
              <div class="col-75">
                <input type="text" id="webaddr" name="webaddr" placeholder="Web Address..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="cv">Cover Letter</label>
              </div>
              <div class="col-75">
                <input type="text" id="cv" name="cv" placeholder="Cover Letter..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="resume">Attachment (for CV) </label>
              </div>
              <div class="col-75">
                <!-- <input type="file" id="resume" name="resume" onchange="upload_cv()"> -->
                <form action="{{ request.build_absolute_uri }}upload/" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file"/>
                    <br />
                    <input type="submit" value="Upload File" />
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="working">Do you like working? </label>
              </div>
              <div class="col-75">
                <input type="radio" id="working1" name="working" value="yes" checked>
                <label for="working1">Yes</label>

                <input type="radio" id="working2" name="working" value="no">
                <label for="working2">No</label>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="Captcha">Captcha </label>
              </div>
              <div class="col-75">
                <div class="center">
                 <!-- <h1 id="captchaHeading">Captcha Validator Using HTML, CSS and JavaScript</h1> -->
                 <div id="captchaBackground">
                    <canvas id="captcha">captcha text</canvas>
                    <input id="textBox" type="text" name="text"  placeholder="Enter Captcha..">
                    <br>
                    <i style="font-size:24px" id="refreshButton" class="fa">&#xf021;</i>
                    <!-- <button id="refreshButton" onclick='test()' type="submit">Refresh</button> -->
                    <span id="output"></span>
                  </div>
                </div>
               </div>
            </div>
            <div class="row">
                <div class="col-25"></div>
                <div class="col-75">
                  <span id="error_txt"></span>
                  <span id="msg_txt"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-25"></div>
                <div class="col-75">
                  <input type="submit" id="submitButton" value="Submit">
                </div>
            </div>
        </div>
        </div>

        <div class="container" id="recruiter">
          <div>
            <button id='btn_modal' type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
          </div>
            <div id='signin_div'>
                <h3>Recruiter</h3>
                <div class="row">
                  <div class="col-25"></div>
                  <div class="col-75">
                    <span class="incorrectCaptcha" id="r_error"></span>
                    <span class="correctCaptcha" id="r_success"></span>
                  </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="username"> Username</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="username" name="name" placeholder="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="password"> Password</label>
                    </div>
                    <div class="col-75">
                        <input type="password" id="password" name="name" placeholder="Password">
                    </div>
                </div>
                <div class="row" id='sign_up_div'>
                    <div class="col-25">
                        <label for="r_mail"> Email </label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="r_mail" name="name" placeholder="Email Id">
                    </div>
                </div>
                <div class="row" id='sign_up_div1'>
                    <div class="col-25"></div>
                    <div class="col-75">
                        <input type="submit" id="submitsignup" value="Sign Up" onclick="submitsignup()">
                        <br><br>
                        Already have an account? 
                        <a class="nav-link text-primary _600" onclick="sign_in()"> Sign In </a>
                    </div>
                </div>
                <div class="row" id='sign_in_div'>
                    <div class="col-25"></div>
                    <div class="col-75">
                        <input type="submit" id="submitsignin" value="Sign in" onclick="submitsignin()">
                        <br><br>
                        Do not have an account? 
                        <a class="nav-link text-primary _600" onclick="sign_up()"> Sign Up </a>
                    </div>
                </div>
            </div>
            <div class="container" id='candidates_detail'>
                <div style="width: 50vw;">Search Candidate By Name/Email/Cover Letter : </div>
                <!-- <label id="label1" style="display: none; margin-left: 1vw;">ARN/Client : </label> -->
                <div class="row">
                    <div class="col-75">
                        <input id="candidateSearch" type="text" placeholder="Candidate Name/Email/Cover Letter ..">
                    </div>
                    <div class="col-25">
                        <button id="btnArnSearch" onclick="searchCandidates()">Search</button>
                    </div>
                </div>
                <br>
                <div class="row">
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                            <th class="text-center" width="40px">NO</th>
                            <th class="text-center" width="200px">Candidate Name</th>
                            <th>Cover Letter</th>
                          </tr>
                      </thead>
                      <tbody id="candidate_list">
                      </tbody>
                  </table>
                </div>
            </div>
            
        </div>

        <!-- <div id="contact">
            <h3>contact</h3>
        </div> -->
    </div>
    
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span id="cand_name"></span></h4>
        </div>
        <div class="modal-body">
          <p><span id="cand_mail"></span></p>
          <p><span id="cand_web"></span></p>
          <br>
          <p><span id="cand_cv"></span></p>
          <br>
          <!-- <embed src="sample.pdf" frameborder="0" width="100%" height="400px"> -->
          <a href="" id='cand_attachment' target="_blank">View Resume</a>
          <br><br>
          <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;" placeholder="Add Comments"></textarea>
          <br><span id='modal_error'></span>
          <br><input type='submit' onclick='addcomment()' value='Submit'>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    
    <!-- </form> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
function trigger() {
    let error = document.querySelector('#error');
    let error_txt = document.querySelector('#error_txt');
    let msg_txt = document.querySelector('#msg_txt');
    error.classList.add("incorrectCaptcha");
    error_txt.classList.add("incorrectCaptcha");
    msg_txt.classList.add("correctCaptcha");
    error.innerHTML = error_txt.innerHTML = msg_txt.innerHTML = "";
    var name = document.getElementById("name").value ;
    var email = document.getElementById("mail").value ;
    var webaddr = document.getElementById("webaddr").value ;
    var cv = document.getElementById("cv").value ;
    var working = document.getElementsByName("working")[0].value ;

    var regName = /^[a-zA-Z]+ [a-zA-Z]+ [a-zA-Z]+$/;
    var regName2 = /^[a-zA-Z]+ [a-zA-Z]+$/;
    var regMail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    var regWeb = new RegExp('^(https?:\\/\\/)?'+ // protocol
    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator

    if(!regName.test(name) && !regName2.test(name)){
        document.getElementById('name').focus();
        if(name == '')
            error.innerHTML = "* Please Enter Your Name.";
        else
            error.innerHTML = "* Please Enter Valid Name. Name cannot contain special characters.";
        return false;
    }
    if(!regMail.test(email)){
        document.getElementById('mail').focus();
        if(email == '')
            error.innerHTML = "* Please Enter Email Id.";
        else
            error.innerHTML = "* Please Enter Valid Email Id.";
        return false;
    }
    if(!regWeb.test(webaddr)){
        document.getElementById('webaddr').focus();
        if(webaddr == '')
            error.innerHTML = "* Please Enter Web Address";
        else
            error.innerHTML = "* Please Enter Validator Web Address.";
        return false;
    }
    if(cv == ''){
        document.getElementById('cv').focus();
        error.innerHTML = "* Please Enter About Yout Job Profile.";
        return false;
    }
    if(file_upload!='T'){
        error.innerHTML = "* Upload Your CV.";
        return false;
    }
    var dataC={
        'name':name,
        'email': email,
        'web_addr':webaddr,
        'cover_letter':cv,
        'attachment':file_name,
        'working':working,
    }

    var data_c = JSON.stringify(dataC);

    $.ajax({
        url:'/update_candidate/',
        type:'POST',
        dataType: 'json',
        data:{ 'data':data_c },
        success: function(response){
            console.log(response);
            if(response['entry']=='exists'){
                error_txt.innerHTML = "Email Id Already Exists. Please Try With Another Email Id.";
            }
            else{
                msg_txt.innerHTML = "Thank you for filling out your information!";
            }
        }
    });
}
document.getElementById("recruiter").style.display = "none";
function myFunction(ele) {
    document.getElementById("home").style.display = "none";
    document.getElementById("recruiter").style.display = "none";
    // document.getElementById("contact").style.display = "none";
    document.getElementById(ele).style.display = "block";
    if(ele=='recruiter'){
        document.getElementById("sign_up_div").style.display = "none";
        document.getElementById("sign_up_div1").style.display = "none";
        document.getElementById("signin_div").style.display = "block";
        document.getElementById("candidates_detail").style.display = "none";

    }
}

var candidate_arr = [];

function sign_up(){
    document.getElementById("sign_up_div").style.display = "block";
    document.getElementById("sign_up_div1").style.display = "block";
    document.getElementById("sign_in_div").style.display = "none";
}
function sign_in(){
    document.getElementById("sign_up_div").style.display = "none";
    document.getElementById("sign_up_div1").style.display = "none";
    document.getElementById("sign_in_div").style.display = "block";
}

function submitsignup(){
    var r_error = document.querySelector('#r_error');
    var r_success = document.querySelector('#r_success');
    r_error.innerHTML = r_success.innerHTML = '';
    var username = document.getElementById("username").value ;
    var password = document.getElementById("password").value ;
    var r_mail = document.getElementById("r_mail").value ;

    var usernameRegex = /^[a-zA-Z0-9]+$/;
    var passwordRegex = /^[ A-Za-z0-9_@./#&+-]*$/;
    var regMail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    if(!usernameRegex.test(username) ){
        document.getElementById('username').focus();
        if(username == '')
            r_error.innerHTML = "* Please Enter Username";
        else
            r_error.innerHTML = "* Please Enter Valid Username";
        return false;
    }
    if(password == ''){
        document.getElementById('password').focus();
        r_error.innerHTML = "* Please Enter Password";
        return false;
    }
    else if(password.length <8 ){
        document.getElementById('password').focus();
        r_error.innerHTML = "* Password must be atleast 8 characters";
        return false;
    }
    else if(!passwordRegex.test(password) ){
        document.getElementById('password').focus();
        if(password == '')
            r_error.innerHTML = "* Please Enter Password";
        else
            r_error.innerHTML = "* Please Enter Valid Password Without Space";
        return false;
    }
    if(!regMail.test(r_mail) ){
        document.getElementById('r_mail').focus();
        if(r_mail == '')
            r_error.innerHTML = "* Please Enter Email Id";
        else
            r_error.innerHTML = "* Please Enter Valid Email Id";
        return false;
    }

    var dataC={
        'username':username,
        'password': password,
        'email':r_mail
    }
    var data_c = JSON.stringify(dataC);
    $.ajax({
        url:'/save_recruiter/',
        type:'POST',
        dataType: 'json',
        data:{ 'data':data_c },
        success: function(response){
            console.log(response);
            if (response.user_exist==1){
                document.getElementById('username').focus();
                r_error.innerHTML = "Username already exist please retry.";
            }
            if (response.user_exist==0){
                r_success.innerHTML = 'Sign Up Successfully!';
                myTimeout = setTimeout(showCandidate, 3000);
            }

        }
    });
}

function submitsignin(){
    var r_error = document.querySelector('#r_error');
    var r_success = document.querySelector('#r_success');
    r_error.innerHTML = r_success.innerHTML = '';
    var username = document.getElementById("username").value ;
    var password = document.getElementById("password").value ;

    var usernameRegex = /^[a-zA-Z0-9]+$/;
    var passwordRegex = /^[ A-Za-z0-9_@./#&+-]*$/;

    if(!usernameRegex.test(username) ){
        document.getElementById('username').focus();
        if(username == '')
            r_error.innerHTML = "* Please Enter Username";
        else
            r_error.innerHTML = "* Please Enter Valid Username";
        return false;
    }
    if(password == ''){
        document.getElementById('password').focus();
        r_error.innerHTML = "* Please Enter Password";
        return false;
    }
    else if(password.length <8 ){
        document.getElementById('password').focus();
        r_error.innerHTML = "* Password must be atleast 8 characters";
        return false;
    }
    else if(!passwordRegex.test(password) ){
        document.getElementById('password').focus();
        if(password == '')
            r_error.innerHTML = "* Please Enter Password";
        else
            r_error.innerHTML = "* Please Enter Valid Password Without Space";
        return false;
    }

    var dataC={
        'username':username,
        'password': password
    }
    var data_c = JSON.stringify(dataC);
    $.ajax({
        url:'/search_recruiter/',
        type:'POST',
        dataType: 'json',
        data:{ 'data':data_c },
        success: function(response){
            console.log(response);
            if (response.user_exist==1){
                r_success.innerHTML = 'Login Successfully!';
                myTimeout = setTimeout(showCandidate, 3000);
            }
            if (response.user_exist==0){
                document.getElementById('username').focus();
                r_error.innerHTML = "Username or Password is wrong please retry.";
            }
        }
    });
}


function showCandidate() {
    // alert('showCandidate');
    document.getElementById("signin_div").style.display = "none";
    document.getElementById("candidates_detail").style.display = "block";
    $.ajax({
        url:'/search_candidates/',
        type:'POST',
        dataType: 'json',
        data:{ 'data':'' },
        success: function(response){
            console.log(response);
            $("#candidate_list").html("");
            info_list = response['name'];
            count = 0;
            candidate_arr = response;
            for(var i = info_list.length-1; i >= 0;i--) {
                count =count+1;
                // markup='<tr><td class="text-center">'+count+'</td><td>'+response["name"][i]+'</td><td class="text-center">'+response["cover_letter"][i]+'</td></tr>';
                markup='<tr><td class="text-center">'+count+'</td><td><a href="#" onclick="candidate_detail('+response["c_id"][i]+')">'+response["name"][i]+'</a></td><td class="text-center">'+response["cover_letter"][i]+'</td></tr>';
                // console.log(markup)
                $("#candidate_list").append(markup);
            }
        }
    });
}

function searchCandidates() {
  var candidateSearch = document.getElementById("candidateSearch").value ;
  // if(candidateSearch == '')
  //   return false;

  $.ajax({
    url:'/search_candidates/',
    type:'POST',
    dataType: 'json',
    data:{ 'data':candidateSearch },
    success: function(response){
        console.log(response);
        $("#candidate_list").html("");
        info_list = response['name'];
        count = 0;
        for(var i = info_list.length-1; i >= 0;i--) {
            count =count+1;
            // markup='<tr><td class="text-center">'+count+'</td><td>'+response["name"][i]+'</td><td class="text-center">'+response["cover_letter"][i]+'</td></tr>';
            markup='<tr><td class="text-center">'+count+'</td><td><a href="#" onclick="candidate_detail('+response["c_id"][i]+')">'+response["name"][i]+'</a></td><td class="text-center">'+response["cover_letter"][i]+'</td></tr>';
            console.log(markup)
            $("#candidate_list").append(markup);
        }
    }
  });
}

var current_cid = 0;
function candidate_detail(cid){
  current_cid = cid;
  cid = cid-1;
  console.log(cid);
  console.log(candidate_arr);
  let c_name = document.querySelector('#cand_name');
  let c_mail = document.querySelector('#cand_mail');
  let c_web = document.querySelector('#cand_web');
  let c_cv = document.querySelector('#cand_cv');
  c_name.innerHTML = c_mail.innerHTML = c_web.innerHTML = c_cv.innerHTML = "";

  c_name.innerHTML = candidate_arr['name'][cid];
  c_mail.innerHTML = candidate_arr['email'][cid];
  c_web.innerHTML = candidate_arr['web_address'][cid];
  c_cv.innerHTML = candidate_arr['cover_letter'][cid];
  var host_name = window.location.hostname;
  console.log(host_name);
  document.getElementById("cand_attachment").href="/static/upload/"+candidate_arr['cv_filename'][cid]; 

  var btn_modal = document.getElementById("btn_modal");
  btn_modal.click();
}

function addcomment(){
  var m_error = document.querySelector('#modal_error');
  m_error.classList.add("incorrectCaptcha");
  m_error.innerHTML = '';
  var comments = document.getElementById("comments").value ;
  if(comments ==''){
    m_error.innerHTML = "* Please Enter Your Comments.";
  }
  var dataC={
    'current_cid':current_cid,
    'comments': comments
  }
  var data_c = JSON.stringify(dataC);
  $.ajax({
      url:'/add_comments/',
      type:'POST',
      dataType: 'json',
      data:{ 'data':data_c },
      success: function(response){
          console.log(response);
      }
  });
}
// https://www.makeuseof.com/captcha-validation-html-css-javascript/
let captchaText = document.querySelector('#captcha');
var ctx = captchaText.getContext("2d");
ctx.font = "30px Roboto";
ctx.fillStyle = "#08e5ff";

let candidateSearchText = document.querySelector('#candidateSearch');
let userText = document.querySelector('#textBox');
let submitButton = document.querySelector('#submitButton');
let output = document.querySelector('#output');
let refreshButton = document.querySelector('#refreshButton');

// alphaNums contains the characters with which you want to create the CAPTCHA
let alphaNums = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
let emptyArr = [];
// This loop generates a random string of 7 characters using alphaNums
// Further this string is displayed as a CAPTCHA
for (let i = 1; i <= 7; i++) {
 emptyArr.push(alphaNums[Math.floor(Math.random() * alphaNums.length)]);
}
var c = emptyArr.join('');
ctx.fillText(emptyArr.join(''),captchaText.width/4, captchaText.height/2);

// This event listener is stimulated whenever the user press the "Enter" button "Correct!" or "Incorrect,
// please try again" message is displayed after validating the input text with CAPTCHA
userText.addEventListener('keyup', function(e) {
    // Key Code Value of "Enter" Button is 13
    if (e.keyCode === 13) {
        if (userText.value === c) {
            output.classList.add("correctCaptcha");
            output.innerHTML = "Correct!";
        } else {
            output.classList.add("incorrectCaptcha");
            output.innerHTML = "Incorrect, please try again";
        }
    }
});
candidateSearchText.addEventListener('keyup', function(e) {
    if (e.keyCode === 13) {
      searchCandidates();
    }
});
// This event listener is stimulated whenever the user clicks the "Submit" button "Correct!" or "Incorrect, 
// please try again" message is displayed after validating input text with CAPTCHA
submitButton.addEventListener('click', function() {
    if (userText.value === c) {
        output.classList.add("correctCaptcha");
        // output.innerHTML = "Correct!";
        trigger();
    } else {
        output.classList.add("incorrectCaptcha");
        output.innerHTML = "Incorrect, please try again";
    }
});
// This event listener is stimulated whenever the user press the "Refresh" button
// A new random CAPTCHA is generated and displayed after the user clicks the "Refresh" button
refreshButton.addEventListener('click', function() {
    userText.value = "";
    let refreshArr = [];
    for (let j = 1; j <= 7; j++) {
        refreshArr.push(alphaNums[Math.floor(Math.random() * alphaNums.length)]);
    }
    ctx.clearRect(0, 0, captchaText.width, captchaText.height);
    c = refreshArr.join('');
    ctx.fillText(refreshArr.join(''),captchaText.width/4, captchaText.height/2);
    output.innerHTML = "";
});

function test(){
    console.log('Refresh');
}

var file_upload = 'F';
var file_name = ''
function upload(event) {
    event.preventDefault();
    var data = new FormData($('form').get(0));

    $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: data,
        cache: false,
        processData: false,
        contentType: false,
        success: function(data) {
            console.log(data['status']);
            if(data['status']=='Success'){
                file_upload='T';
                file_name = data['file_name']
            }
        }
    });
    return false;
}

$(function() {
    $('form').submit(upload);
});



</script>
</body>
</html>